//
// These are the base styles for the
// UA Division Student Affairs Child Theme.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include the framework settings
@import "../../../themes/student-affairs-framework/scss/_sa-framework-settings";

// Include the framework mixins
@import "../../../themes/student-affairs-framework/scss/_sa-framework-mixins";

$sa-ofsl-light-bg-color: #f7f6f4;

#sa-ofsl-front-page-disclaimer {
	background: #eee;
	font-size: 0.8em;
	padding: 30px 0;

	h2 {
		font-size: 1.1em;
		text-transform: uppercase;
		color: #666;
	}

	p {
		font-size: inherit;
	}

	.columns {

		*:last-child {
			margin-bottom: 0;
		}

	}

}

#sa-main {

	.sa-sidebar {

		.sidebar-header {
			background: $sa-ofsl-light-bg-color;

			&.facebook{
				position: relative;
				padding-left: 40px;
				background: rgba( $facebook-blue, 0.1 );

				&:before {
					content: '';
					position: absolute;
					left: 14px;
					top: 12px;
					width: 20px;
					height: 16px;
					background: url('../../../themes/student-affairs-framework/images/icons/facebook-black.svg') 0 center no-repeat;
					background-size: auto 16px;
					opacity: 0.55;
				}

			}

			&.twitter {
				position: relative;
				padding-left: 40px;
				background: rgba( $twitter-blue, 0.12 );

				&:before {
					content: '';
					position: absolute;
					left: 12px;
					top: 12px;
					width: 20px;
					height: 16px;
					background: url('../../../themes/student-affairs-framework/images/icons/twitter-black.svg') 0 center no-repeat;
					background-size: auto 16px;
					opacity: 0.55;
				}

			}

		}

	}

	.sa-ofsl-featured-image {
		margin: 0 0 30px 0;

		img {
			width: 100%;
			margin: 0;
		}

	}

	.sa-ofsl-councils {

		.council {

			.council-links {
				@include reset-ul();
				border-top: 1px solid rgba($black,0.1);

				li {
					border-bottom: 1px solid rgba($black,0.1);
                    padding: 9px 0 9px 11px;
				}
			}

		}

	}

}

.address {

	.address1,
	.address2 {
		display: block;
	}

	.address-city {
		clear: both;
	}

}

.type-chapters {

	.sa-ofsl-chapter {

		.chapter-content {

			h2 {
				background: #f7f6f4;
				font-size: 1.1em;
				line-height: 1.2;
				font-weight: 300;
				text-transform: uppercase;
				color: #666;
				padding: 8px;
				margin: 22px 0 8px 0;
			}

			.row-address,
			.row-chapter-details {
				margin-top: -22px;
			}

		}

		.chapter-council {
			display: block;
			margin: -6px 0 25px 0;
			text-transform: uppercase;
			color: #444;
			font-size: 1.2em;
			line-height: 1;

			a {
				color: inherit;
			}

		}

		.chapter-crest {
			border: 1px solid #f7f6f4;
			margin: 0 0 20px 0;
			padding: 15px;

			img {
				display: block;
				margin: 0 auto;
			}

		}

	}

}

.sa-ofsl-info {
	margin: 0 0 20px 0;
	border: 1px solid $sa-ofsl-light-bg-color;
	font-size: .9em;
	line-height: 1.8;

	.info-header {
		background: $sa-ofsl-light-bg-color;
		margin: 0;
		padding: 10px;
		font-size: 1.1em;
		line-height: 1.2;
		font-weight: 300;
		text-transform: uppercase;
		color: #666;
	}

	$info-icon-opacity: 0.6;
	ul.info {
		@include reset-ul();
		padding: 12px 15px 17px 15px;
		color: rgba( $black, 0.7 );
		font-size: 1em;
		line-height: 1.4;

		a {
			color: inherit;
		}

		li {
			margin: 0 0 8px 0;

			&.icon {
				position: relative;
				padding-left: 23px;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					background-size: auto 100%;
					width: 23px;
					height: 14px;
					margin-top: -7px;
					opacity: $info-icon-opacity;
				}

			}

			$info-icons: "email" "website" "facebook" "twitter" "instagram";
			@each $item in $info-icons {
				&.#{$item}:before {
					background: url( '../../../themes/student-affairs-framework/images/icons/#{$item}-black.svg' ) 0 center no-repeat;
				}
			}

			&.email:before {
				height: 10px;
				margin-top: -4px;
			}

			&.twitter:before {
				left: -2px;
			}

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

}

.sa-ofsl-council-sidebar {
	clear: right;
	float: right;
	width: 300px;
	margin: 0 0 0 25px;

	.sa-ofsl-council-view-chapters {
		display: block;
		width: 100%;
		margin: 0 0 20px 0;
		padding: 12px;
		font-size: 1em;
		text-transform: uppercase;
	}

}

.sa-ofsl-striped-content {

	.item {
		background-color: $sa-ofsl-light-bg-color;

		&:nth-child(odd) {
			background: none;
		}

	}
}

.sa-ofsl-chapters-list {
	margin: 35px ( 0 - $sa-main-vert-sep-padding-right ) 0 ( 0 - $sa-main-vert-sep-padding-right );

	.sa-ofsl-chapters-header {
		margin: 0 0 25px 0;
		text-transform: uppercase;
		font-weight: 300;
		padding-left: $sa-main-vert-sep-padding-right;
	}

	.sa-ofsl-chapters {

		.chapter {
			overflow: auto;
			position: relative;
			min-height: 200px + $sa-main-vert-sep-padding-right;
			margin: 0;
			background-color: $sa-ofsl-light-bg-color;
			padding: $sa-main-vert-sep-padding-right;

			.crest {
				position: absolute;
				left: $sa-main-vert-sep-padding-right;
				top: $sa-main-vert-sep-padding-right;
				width: 200px;
				height: 200px;
				margin: 0;
			}

			.chapter-info {
				display: block;
				padding: 0 0 0 245px;

				.chapter-title {
					margin: 0 0 10px 0;
				}

				.chapter-details {
					margin: -5px 0 15px 0;
					text-transform: uppercase;
					color: #444;
					font-size: 1em;
					line-height: 1;
				}

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

			}

			&:nth-child(even) {
				background: none;
			}

		}

	}

}

// On medium up
@media #{$medium-up} {

	.type-chapters {

		.sa-ofsl-chapter {

			.chapter-content {

				h2 {
					padding-left: 15px;
				}

				.columns + .columns {
					h2 {
						margin-left: -40px;
						padding-left: 40px;
					}
				}

			}

		}

	}

}